<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.numberONe.mapper.CustomerContractInfoMapper" >
  <resultMap id="BaseResultMap" type="com.numberONe.tempEntity.CustomerContractInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="customerType" property="customertype" jdbcType="INTEGER" />
    <result column="businessType" property="businesstype" jdbcType="INTEGER" />
    <result column="businessTypeName" property="businesstypename" jdbcType="VARCHAR" />
    <result column="contractCode" property="contractcode" jdbcType="VARCHAR" />
    <result column="statisticsShortName" property="statisticsshortname" jdbcType="VARCHAR" />
    <result column="ourCompanyName" property="ourcompanyname" jdbcType="VARCHAR" />
    <result column="contractStartTime" property="contractstarttime" jdbcType="TIMESTAMP" />
    <result column="contractEndTime" property="contractendtime" jdbcType="TIMESTAMP" />
    <result column="rebates" property="rebates" jdbcType="DECIMAL" />
    <result column="orderfrom" property="orderfrom" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, createTime, updateTime, customerType, businessType, businessTypeName, contractCode, 
    statisticsShortName, ourCompanyName, contractStartTime, contractEndTime, rebates, 
    orderfrom, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from customer_contract_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from customer_contract_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.numberONe.tempEntity.CustomerContractInfo" >
    insert into customer_contract_info (id, createTime, updateTime, 
      customerType, businessType, businessTypeName, 
      contractCode, statisticsShortName, ourCompanyName, 
      contractStartTime, contractEndTime, 
      rebates, orderfrom, remark
      )
    values (#{id,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{customertype,jdbcType=INTEGER}, #{businesstype,jdbcType=INTEGER}, #{businesstypename,jdbcType=VARCHAR}, 
      #{contractcode,jdbcType=VARCHAR}, #{statisticsshortname,jdbcType=VARCHAR}, #{ourcompanyname,jdbcType=VARCHAR}, 
      #{contractstarttime,jdbcType=TIMESTAMP}, #{contractendtime,jdbcType=TIMESTAMP}, 
      #{rebates,jdbcType=DECIMAL}, #{orderfrom,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.numberONe.tempEntity.CustomerContractInfo" >
    insert into customer_contract_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="customertype != null" >
        customerType,
      </if>
      <if test="businesstype != null" >
        businessType,
      </if>
      <if test="businesstypename != null" >
        businessTypeName,
      </if>
      <if test="contractcode != null" >
        contractCode,
      </if>
      <if test="statisticsshortname != null" >
        statisticsShortName,
      </if>
      <if test="ourcompanyname != null" >
        ourCompanyName,
      </if>
      <if test="contractstarttime != null" >
        contractStartTime,
      </if>
      <if test="contractendtime != null" >
        contractEndTime,
      </if>
      <if test="rebates != null" >
        rebates,
      </if>
      <if test="orderfrom != null" >
        orderfrom,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="customertype != null" >
        #{customertype,jdbcType=INTEGER},
      </if>
      <if test="businesstype != null" >
        #{businesstype,jdbcType=INTEGER},
      </if>
      <if test="businesstypename != null" >
        #{businesstypename,jdbcType=VARCHAR},
      </if>
      <if test="contractcode != null" >
        #{contractcode,jdbcType=VARCHAR},
      </if>
      <if test="statisticsshortname != null" >
        #{statisticsshortname,jdbcType=VARCHAR},
      </if>
      <if test="ourcompanyname != null" >
        #{ourcompanyname,jdbcType=VARCHAR},
      </if>
      <if test="contractstarttime != null" >
        #{contractstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="contractendtime != null" >
        #{contractendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="rebates != null" >
        #{rebates,jdbcType=DECIMAL},
      </if>
      <if test="orderfrom != null" >
        #{orderfrom,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.numberONe.tempEntity.CustomerContractInfo" >
    update customer_contract_info
    <set >
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="customertype != null" >
        customerType = #{customertype,jdbcType=INTEGER},
      </if>
      <if test="businesstype != null" >
        businessType = #{businesstype,jdbcType=INTEGER},
      </if>
      <if test="businesstypename != null" >
        businessTypeName = #{businesstypename,jdbcType=VARCHAR},
      </if>
      <if test="contractcode != null" >
        contractCode = #{contractcode,jdbcType=VARCHAR},
      </if>
      <if test="statisticsshortname != null" >
        statisticsShortName = #{statisticsshortname,jdbcType=VARCHAR},
      </if>
      <if test="ourcompanyname != null" >
        ourCompanyName = #{ourcompanyname,jdbcType=VARCHAR},
      </if>
      <if test="contractstarttime != null" >
        contractStartTime = #{contractstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="contractendtime != null" >
        contractEndTime = #{contractendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="rebates != null" >
        rebates = #{rebates,jdbcType=DECIMAL},
      </if>
      <if test="orderfrom != null" >
        orderfrom = #{orderfrom,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.numberONe.tempEntity.CustomerContractInfo" >
    update customer_contract_info
    set createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      customerType = #{customertype,jdbcType=INTEGER},
      businessType = #{businesstype,jdbcType=INTEGER},
      businessTypeName = #{businesstypename,jdbcType=VARCHAR},
      contractCode = #{contractcode,jdbcType=VARCHAR},
      statisticsShortName = #{statisticsshortname,jdbcType=VARCHAR},
      ourCompanyName = #{ourcompanyname,jdbcType=VARCHAR},
      contractStartTime = #{contractstarttime,jdbcType=TIMESTAMP},
      contractEndTime = #{contractendtime,jdbcType=TIMESTAMP},
      rebates = #{rebates,jdbcType=DECIMAL},
      orderfrom = #{orderfrom,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>