<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.numberONe.mapper.InvoiceRecordMapper" >
  <resultMap id="BaseResultMap" type="com.numberONe.tempEntity.InvoiceRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="invoice_info_id" property="invoiceInfoId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="apply_name" property="applyName" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="platform" property="platform" jdbcType="VARCHAR" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="invoice_code" property="invoiceCode" jdbcType="VARCHAR" />
    <result column="open_time" property="openTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, update_time, invoice_info_id, type, apply_name, customer_id, customer_name, 
    money, platform, pay_time, invoice_code, open_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from invoice_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from invoice_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.numberONe.tempEntity.InvoiceRecord" >
    insert into invoice_record (id, create_time, update_time, 
      invoice_info_id, type, apply_name, 
      customer_id, customer_name, money, 
      platform, pay_time, invoice_code, 
      open_time)
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{invoiceInfoId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{applyName,jdbcType=VARCHAR}, 
      #{customerId,jdbcType=INTEGER}, #{customerName,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL}, 
      #{platform,jdbcType=VARCHAR}, #{payTime,jdbcType=TIMESTAMP}, #{invoiceCode,jdbcType=VARCHAR}, 
      #{openTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.numberONe.tempEntity.InvoiceRecord" >
    insert into invoice_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="invoiceInfoId != null" >
        invoice_info_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="applyName != null" >
        apply_name,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="customerName != null" >
        customer_name,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="platform != null" >
        platform,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="invoiceCode != null" >
        invoice_code,
      </if>
      <if test="openTime != null" >
        open_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invoiceInfoId != null" >
        #{invoiceInfoId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="applyName != null" >
        #{applyName,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="platform != null" >
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invoiceCode != null" >
        #{invoiceCode,jdbcType=VARCHAR},
      </if>
      <if test="openTime != null" >
        #{openTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.numberONe.tempEntity.InvoiceRecord" >
    update invoice_record
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invoiceInfoId != null" >
        invoice_info_id = #{invoiceInfoId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="applyName != null" >
        apply_name = #{applyName,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="platform != null" >
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invoiceCode != null" >
        invoice_code = #{invoiceCode,jdbcType=VARCHAR},
      </if>
      <if test="openTime != null" >
        open_time = #{openTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.numberONe.tempEntity.InvoiceRecord" >
    update invoice_record
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      invoice_info_id = #{invoiceInfoId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      apply_name = #{applyName,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=INTEGER},
      customer_name = #{customerName,jdbcType=VARCHAR},
      money = #{money,jdbcType=DECIMAL},
      platform = #{platform,jdbcType=VARCHAR},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      invoice_code = #{invoiceCode,jdbcType=VARCHAR},
      open_time = #{openTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>