<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.numberONe.mapper.KeepmeAccountInfoMapper" >
  <resultMap id="BaseResultMap" type="com.numberONe.tempEntity.KeepmeAccountInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="app_id" property="appId" jdbcType="VARCHAR" />
    <result column="platform" property="platform" jdbcType="VARCHAR" />
    <result column="keepme_account_name" property="keepmeAccountName" jdbcType="VARCHAR" />
    <result column="keepme_account_id" property="keepmeAccountId" jdbcType="VARCHAR" />
    <result column="provider_id" property="providerId" jdbcType="INTEGER" />
    <result column="provider_name" property="providerName" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="industry" property="industry" jdbcType="VARCHAR" />
    <result column="generalize_link" property="generalizeLink" jdbcType="VARCHAR" />
    <result column="services" property="services" jdbcType="VARCHAR" />
    <result column="subpackage" property="subpackage" jdbcType="VARCHAR" />
    <result column="ocpa" property="ocpa" jdbcType="VARCHAR" />
    <result column="pass_status" property="passStatus" jdbcType="VARCHAR" />
    <result column="pass_time" property="passTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, update_time, app_id, platform, keepme_account_name, keepme_account_id, 
    provider_id, provider_name, qq, industry, generalize_link, services, subpackage, 
    ocpa, pass_status, pass_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from keepme_account_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from keepme_account_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.numberONe.tempEntity.KeepmeAccountInfo" >
    insert into keepme_account_info (id, create_time, update_time, 
      app_id, platform, keepme_account_name, 
      keepme_account_id, provider_id, provider_name, 
      qq, industry, generalize_link, 
      services, subpackage, ocpa, 
      pass_status, pass_time)
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{appId,jdbcType=VARCHAR}, #{platform,jdbcType=VARCHAR}, #{keepmeAccountName,jdbcType=VARCHAR}, 
      #{keepmeAccountId,jdbcType=VARCHAR}, #{providerId,jdbcType=INTEGER}, #{providerName,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{industry,jdbcType=VARCHAR}, #{generalizeLink,jdbcType=VARCHAR}, 
      #{services,jdbcType=VARCHAR}, #{subpackage,jdbcType=VARCHAR}, #{ocpa,jdbcType=VARCHAR}, 
      #{passStatus,jdbcType=VARCHAR}, #{passTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.numberONe.tempEntity.KeepmeAccountInfo" >
    insert into keepme_account_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="platform != null" >
        platform,
      </if>
      <if test="keepmeAccountName != null" >
        keepme_account_name,
      </if>
      <if test="keepmeAccountId != null" >
        keepme_account_id,
      </if>
      <if test="providerId != null" >
        provider_id,
      </if>
      <if test="providerName != null" >
        provider_name,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="industry != null" >
        industry,
      </if>
      <if test="generalizeLink != null" >
        generalize_link,
      </if>
      <if test="services != null" >
        services,
      </if>
      <if test="subpackage != null" >
        subpackage,
      </if>
      <if test="ocpa != null" >
        ocpa,
      </if>
      <if test="passStatus != null" >
        pass_status,
      </if>
      <if test="passTime != null" >
        pass_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="platform != null" >
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="keepmeAccountName != null" >
        #{keepmeAccountName,jdbcType=VARCHAR},
      </if>
      <if test="keepmeAccountId != null" >
        #{keepmeAccountId,jdbcType=VARCHAR},
      </if>
      <if test="providerId != null" >
        #{providerId,jdbcType=INTEGER},
      </if>
      <if test="providerName != null" >
        #{providerName,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="industry != null" >
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="generalizeLink != null" >
        #{generalizeLink,jdbcType=VARCHAR},
      </if>
      <if test="services != null" >
        #{services,jdbcType=VARCHAR},
      </if>
      <if test="subpackage != null" >
        #{subpackage,jdbcType=VARCHAR},
      </if>
      <if test="ocpa != null" >
        #{ocpa,jdbcType=VARCHAR},
      </if>
      <if test="passStatus != null" >
        #{passStatus,jdbcType=VARCHAR},
      </if>
      <if test="passTime != null" >
        #{passTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.numberONe.tempEntity.KeepmeAccountInfo" >
    update keepme_account_info
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="platform != null" >
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="keepmeAccountName != null" >
        keepme_account_name = #{keepmeAccountName,jdbcType=VARCHAR},
      </if>
      <if test="keepmeAccountId != null" >
        keepme_account_id = #{keepmeAccountId,jdbcType=VARCHAR},
      </if>
      <if test="providerId != null" >
        provider_id = #{providerId,jdbcType=INTEGER},
      </if>
      <if test="providerName != null" >
        provider_name = #{providerName,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="industry != null" >
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="generalizeLink != null" >
        generalize_link = #{generalizeLink,jdbcType=VARCHAR},
      </if>
      <if test="services != null" >
        services = #{services,jdbcType=VARCHAR},
      </if>
      <if test="subpackage != null" >
        subpackage = #{subpackage,jdbcType=VARCHAR},
      </if>
      <if test="ocpa != null" >
        ocpa = #{ocpa,jdbcType=VARCHAR},
      </if>
      <if test="passStatus != null" >
        pass_status = #{passStatus,jdbcType=VARCHAR},
      </if>
      <if test="passTime != null" >
        pass_time = #{passTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.numberONe.tempEntity.KeepmeAccountInfo" >
    update keepme_account_info
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      app_id = #{appId,jdbcType=VARCHAR},
      platform = #{platform,jdbcType=VARCHAR},
      keepme_account_name = #{keepmeAccountName,jdbcType=VARCHAR},
      keepme_account_id = #{keepmeAccountId,jdbcType=VARCHAR},
      provider_id = #{providerId,jdbcType=INTEGER},
      provider_name = #{providerName,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      generalize_link = #{generalizeLink,jdbcType=VARCHAR},
      services = #{services,jdbcType=VARCHAR},
      subpackage = #{subpackage,jdbcType=VARCHAR},
      ocpa = #{ocpa,jdbcType=VARCHAR},
      pass_status = #{passStatus,jdbcType=VARCHAR},
      pass_time = #{passTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>