<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.numberONe.mapper.KeepmeAccountInfoMapper" >
  <resultMap id="BaseResultMap" type="com.numberONe.tempEntity.KeepmeAccountInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="appId" property="appid" jdbcType="VARCHAR" />
    <result column="platform" property="platform" jdbcType="VARCHAR" />
    <result column="keepmeAccountName" property="keepmeaccountname" jdbcType="VARCHAR" />
    <result column="keepmeAccounId" property="keepmeaccounid" jdbcType="VARCHAR" />
    <result column="providerId" property="providerid" jdbcType="INTEGER" />
    <result column="providerName" property="providername" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="industry" property="industry" jdbcType="VARCHAR" />
    <result column="generalizeLink" property="generalizelink" jdbcType="VARCHAR" />
    <result column="services" property="services" jdbcType="VARCHAR" />
    <result column="subpackage" property="subpackage" jdbcType="VARCHAR" />
    <result column="ocpa" property="ocpa" jdbcType="VARCHAR" />
    <result column="passStatus" property="passstatus" jdbcType="VARCHAR" />
    <result column="passTime" property="passtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, createTime, updateTime, appId, platform, keepmeAccountName, keepmeAccounId, providerId, 
    providerName, qq, industry, generalizeLink, services, subpackage, ocpa, passStatus, 
    passTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from keepme_account_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from keepme_account_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.numberONe.tempEntity.KeepmeAccountInfo" >
    insert into keepme_account_info (id, createTime, updateTime, 
      appId, platform, keepmeAccountName, 
      keepmeAccounId, providerId, providerName, 
      qq, industry, generalizeLink, 
      services, subpackage, ocpa, 
      passStatus, passTime)
    values (#{id,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{appid,jdbcType=VARCHAR}, #{platform,jdbcType=VARCHAR}, #{keepmeaccountname,jdbcType=VARCHAR}, 
      #{keepmeaccounid,jdbcType=VARCHAR}, #{providerid,jdbcType=INTEGER}, #{providername,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{industry,jdbcType=VARCHAR}, #{generalizelink,jdbcType=VARCHAR}, 
      #{services,jdbcType=VARCHAR}, #{subpackage,jdbcType=VARCHAR}, #{ocpa,jdbcType=VARCHAR}, 
      #{passstatus,jdbcType=VARCHAR}, #{passtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.numberONe.tempEntity.KeepmeAccountInfo" >
    insert into keepme_account_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="appid != null" >
        appId,
      </if>
      <if test="platform != null" >
        platform,
      </if>
      <if test="keepmeaccountname != null" >
        keepmeAccountName,
      </if>
      <if test="keepmeaccounid != null" >
        keepmeAccounId,
      </if>
      <if test="providerid != null" >
        providerId,
      </if>
      <if test="providername != null" >
        providerName,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="industry != null" >
        industry,
      </if>
      <if test="generalizelink != null" >
        generalizeLink,
      </if>
      <if test="services != null" >
        services,
      </if>
      <if test="subpackage != null" >
        subpackage,
      </if>
      <if test="ocpa != null" >
        ocpa,
      </if>
      <if test="passstatus != null" >
        passStatus,
      </if>
      <if test="passtime != null" >
        passTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="platform != null" >
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="keepmeaccountname != null" >
        #{keepmeaccountname,jdbcType=VARCHAR},
      </if>
      <if test="keepmeaccounid != null" >
        #{keepmeaccounid,jdbcType=VARCHAR},
      </if>
      <if test="providerid != null" >
        #{providerid,jdbcType=INTEGER},
      </if>
      <if test="providername != null" >
        #{providername,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="industry != null" >
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="generalizelink != null" >
        #{generalizelink,jdbcType=VARCHAR},
      </if>
      <if test="services != null" >
        #{services,jdbcType=VARCHAR},
      </if>
      <if test="subpackage != null" >
        #{subpackage,jdbcType=VARCHAR},
      </if>
      <if test="ocpa != null" >
        #{ocpa,jdbcType=VARCHAR},
      </if>
      <if test="passstatus != null" >
        #{passstatus,jdbcType=VARCHAR},
      </if>
      <if test="passtime != null" >
        #{passtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.numberONe.tempEntity.KeepmeAccountInfo" >
    update keepme_account_info
    <set >
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="appid != null" >
        appId = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="platform != null" >
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="keepmeaccountname != null" >
        keepmeAccountName = #{keepmeaccountname,jdbcType=VARCHAR},
      </if>
      <if test="keepmeaccounid != null" >
        keepmeAccounId = #{keepmeaccounid,jdbcType=VARCHAR},
      </if>
      <if test="providerid != null" >
        providerId = #{providerid,jdbcType=INTEGER},
      </if>
      <if test="providername != null" >
        providerName = #{providername,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="industry != null" >
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="generalizelink != null" >
        generalizeLink = #{generalizelink,jdbcType=VARCHAR},
      </if>
      <if test="services != null" >
        services = #{services,jdbcType=VARCHAR},
      </if>
      <if test="subpackage != null" >
        subpackage = #{subpackage,jdbcType=VARCHAR},
      </if>
      <if test="ocpa != null" >
        ocpa = #{ocpa,jdbcType=VARCHAR},
      </if>
      <if test="passstatus != null" >
        passStatus = #{passstatus,jdbcType=VARCHAR},
      </if>
      <if test="passtime != null" >
        passTime = #{passtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.numberONe.tempEntity.KeepmeAccountInfo" >
    update keepme_account_info
    set createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      appId = #{appid,jdbcType=VARCHAR},
      platform = #{platform,jdbcType=VARCHAR},
      keepmeAccountName = #{keepmeaccountname,jdbcType=VARCHAR},
      keepmeAccounId = #{keepmeaccounid,jdbcType=VARCHAR},
      providerId = #{providerid,jdbcType=INTEGER},
      providerName = #{providername,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      generalizeLink = #{generalizelink,jdbcType=VARCHAR},
      services = #{services,jdbcType=VARCHAR},
      subpackage = #{subpackage,jdbcType=VARCHAR},
      ocpa = #{ocpa,jdbcType=VARCHAR},
      passStatus = #{passstatus,jdbcType=VARCHAR},
      passTime = #{passtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>