<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.numberONe.mapper.ProviderContractInfoMapper" >
  <resultMap id="BaseResultMap" type="com.numberONe.tempEntity.ProviderContractInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="customer_type" property="customerType" jdbcType="INTEGER" />
    <result column="business_type" property="businessType" jdbcType="VARCHAR" />
    <result column="contract_code" property="contractCode" jdbcType="VARCHAR" />
    <result column="statistics_short_name" property="statisticsShortName" jdbcType="VARCHAR" />
    <result column="our_company_name" property="ourCompanyName" jdbcType="VARCHAR" />
    <result column="contract_start_time" property="contractStartTime" jdbcType="TIMESTAMP" />
    <result column="contract_end_time" property="contractEndTime" jdbcType="TIMESTAMP" />
    <result column="rebates" property="rebates" jdbcType="DECIMAL" />
    <result column="orderfrom" property="orderfrom" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, update_time, customer_type, business_type, contract_code, statistics_short_name, 
    our_company_name, contract_start_time, contract_end_time, rebates, orderfrom
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from provider_contract_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from provider_contract_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.numberONe.tempEntity.ProviderContractInfo" >
    insert into provider_contract_info (id, create_time, update_time, 
      customer_type, business_type, contract_code, 
      statistics_short_name, our_company_name, contract_start_time, 
      contract_end_time, rebates, orderfrom
      )
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{customerType,jdbcType=INTEGER}, #{businessType,jdbcType=VARCHAR}, #{contractCode,jdbcType=VARCHAR}, 
      #{statisticsShortName,jdbcType=VARCHAR}, #{ourCompanyName,jdbcType=VARCHAR}, #{contractStartTime,jdbcType=TIMESTAMP}, 
      #{contractEndTime,jdbcType=TIMESTAMP}, #{rebates,jdbcType=DECIMAL}, #{orderfrom,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.numberONe.tempEntity.ProviderContractInfo" >
    insert into provider_contract_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="customerType != null" >
        customer_type,
      </if>
      <if test="businessType != null" >
        business_type,
      </if>
      <if test="contractCode != null" >
        contract_code,
      </if>
      <if test="statisticsShortName != null" >
        statistics_short_name,
      </if>
      <if test="ourCompanyName != null" >
        our_company_name,
      </if>
      <if test="contractStartTime != null" >
        contract_start_time,
      </if>
      <if test="contractEndTime != null" >
        contract_end_time,
      </if>
      <if test="rebates != null" >
        rebates,
      </if>
      <if test="orderfrom != null" >
        orderfrom,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="customerType != null" >
        #{customerType,jdbcType=INTEGER},
      </if>
      <if test="businessType != null" >
        #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="contractCode != null" >
        #{contractCode,jdbcType=VARCHAR},
      </if>
      <if test="statisticsShortName != null" >
        #{statisticsShortName,jdbcType=VARCHAR},
      </if>
      <if test="ourCompanyName != null" >
        #{ourCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="contractStartTime != null" >
        #{contractStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contractEndTime != null" >
        #{contractEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rebates != null" >
        #{rebates,jdbcType=DECIMAL},
      </if>
      <if test="orderfrom != null" >
        #{orderfrom,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.numberONe.tempEntity.ProviderContractInfo" >
    update provider_contract_info
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="customerType != null" >
        customer_type = #{customerType,jdbcType=INTEGER},
      </if>
      <if test="businessType != null" >
        business_type = #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="contractCode != null" >
        contract_code = #{contractCode,jdbcType=VARCHAR},
      </if>
      <if test="statisticsShortName != null" >
        statistics_short_name = #{statisticsShortName,jdbcType=VARCHAR},
      </if>
      <if test="ourCompanyName != null" >
        our_company_name = #{ourCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="contractStartTime != null" >
        contract_start_time = #{contractStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contractEndTime != null" >
        contract_end_time = #{contractEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rebates != null" >
        rebates = #{rebates,jdbcType=DECIMAL},
      </if>
      <if test="orderfrom != null" >
        orderfrom = #{orderfrom,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.numberONe.tempEntity.ProviderContractInfo" >
    update provider_contract_info
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      customer_type = #{customerType,jdbcType=INTEGER},
      business_type = #{businessType,jdbcType=VARCHAR},
      contract_code = #{contractCode,jdbcType=VARCHAR},
      statistics_short_name = #{statisticsShortName,jdbcType=VARCHAR},
      our_company_name = #{ourCompanyName,jdbcType=VARCHAR},
      contract_start_time = #{contractStartTime,jdbcType=TIMESTAMP},
      contract_end_time = #{contractEndTime,jdbcType=TIMESTAMP},
      rebates = #{rebates,jdbcType=DECIMAL},
      orderfrom = #{orderfrom,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>